* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Roboto", sans-serif;
}

.text-white {
    color: #fff
}

.text-black {
    color: #000
}

a {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 10px;
    opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 6px;
    ;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}