* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Roboto", sans-serif;
}

.text-white {
    color: #fff
}

.text-black {
    color: #000
}

a {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 10px;
    opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 6px;
    ;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;

}

.create-post-modal {
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    :where(.css-dev-only-do-not-override-1xg9z9n).ant-modal .ant-modal-content {
        background: #262626;
    }

    :where(.css-dev-only-do-not-override-1xg9z9n).ant-upload-wrapper .ant-upload-drag {
        border: none !important;
    }

    .ant-modal-content {
        border-radius: 15px !important;
        box-shadow: none !important;
        overflow: hidden !important;
        padding-top: 10px !important;
        background-color: #262626!important;
    }

    .ant-modal-footer{
        text-align: center!important;
    }
}

textarea{
    outline: none;
}